{% extends "layout.html" %}

{% block styles %}
<!--    <link href="{{ url_for('static', filename='./css/index.css') }}" rel="stylesheet">-->
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}

    <h1 class="title" style="color: darkmagenta">Login form</h1>

    <form method="POST" action="/login" novalidate>
        {{ form.hidden_tag() }}

        <div class="form-group">

            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
                <span class="form-error-message">[{{ error }}]</span>

            {% endfor %}
        </div>

        <div class="form-group">

            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
                <span class="form-error-message">[{{ error }}]</span>

            {% endfor %}
        </div>

        {{ form.submit(class="btn btn-info") }}

    </form>

    <p>New User? <a href="{{ url_for('signup') }}">Click to Register!</a></p>

{% endblock %}